<iframe frameborder="0" id="iframeOeID" name="iframeID" class="embed-responsive-item" width="100%" height="100%"></iframe>


<div tabindex="-1" aria-hidden="true" style='display: none'>
  <form id="fastlink_form" action='<%= YodleeApi.config.fastlink_url %>' method='post'  id='rsessionPost' target='iframeID'>
    RSession : <input type='text' name='rsession' placeholder='rsession' value='<%= @current_user.yodlee_user.user_session %>' id='rsession' />
    <br />
    FinappId : <input type='text' name='app' placeholder='FinappId' value='<%= YodleeApi.config.fastlink_app_id %>' id='finappId' />
    <br />
    Redirect : <input type='text' name='redirectReq' placeholder='true/false' value='true' />
    <br />
    Token : <input type='text' name='token' placeholder='token' value='<%= @access_tokens['value'] %>' id='token' />
    <br />
    Extra Params : <input type='text' name='extraParams' placeholer='Extra Params' value='' id='extraParams' />
    <br />

    <input type='submit' value='Launch Fastlink' />
  </form>
</div>

<script type='text/javascript'>
  document.getElementById('fastlink_form').submit();
</script>

